doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/output.css')
  body(class="font-Montserrat")
    div#back(class="w-[100px] h-[80px] absolute left-10 top-10")
        a(href="/" class="w-full h-full absolute top-0 left-0")
    block content
    block footer
      div(class="bg-violet-950 w-full text-white flex h-[200px] items-center flex-col justify-center")
        div(class="text-3xl p-4") Maria Silvia
        div(class="flex")
          div(class="w-7 h-7 m-2 bg-github-pink bg-cover hover:bg-github-light")
            a(href="https://github.com/mlorraine4" target="_blank" rel="noopener noreferrer" class="w-full h-full block")
          div(class="w-7 h-7 m-2 bg-email-pink bg-cover hover:bg-email-light")
            a(href="mailto:marialorrainesilvia4@gmail.com" class="w-full h-full block")
          div(class="w-7 h-7 m-2 bg-li-pink bg-cover hover:bg-li-light")
            a(href="https://www.linkedin.com/in/maria-l-silvia/" target="_blank" rel="noopener noreferrer" class="w-full h-full block")