extends detail-layout

block content
    div(class="p-20")
        div(class="flex flex-col items-center")
            div(class="font-bold text-4xl text-dark-lavender") Fumblr: a blogging social media app
            div(class="text-xl m-4") Follow your favorite bloggers, share posts, and customize your profile with Fumblr.
            div(class="flex justify-center")
                a#demo(href="https://mlorraine4.github.io/fumblr/" target="_blank" rel="noopener noreferrer" class="font-bold text-xl m-10") LIVE DEMO
                a#code(href="https://github.com/mlorraine4/fumblr" target="_blank" rel="noopener noreferrer" class="font-bold text-xl m-10") CODE
        div#bg(class="flex flex-col w-3/4 m-auto max-w-[1860px] pt-10 pb-10")
            div(class="w-2/3 flex flex-col items-center m-auto")
                div(class="text-medium-gradient font-bold text-3xl p-2 m-5 w-min") Stack
                div(class="flex mb-10 flex-wrap justify-center")
                    div
                        img(src="../images/icons/react.png" class="m-auto h-12 w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") React
                    div
                        img(src="../images/icons/firebase.png" class="m-auto h-12 w-12")  
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") Firebase
                img(src="../images/fumblr_2.png" class="w-4/5 m-auto")
                div(class="text-3xl font-bold m-5 text-medium-gradient") Project Goals
                div(class="m-5 text-xl") Fumblr is a social media app inspired by Tumblr. The goal of this project was to create a React social media app where users can make profiles, interact with other users, and make their own posts.
                div(class="text-3xl font-bold m-5 text-medium-gradient") Development Stack
                div(class="m-5 text-xl") The front end for Fumblr is built using React, and the backend includes Firebase's Storage for saving images and Realtime Database for user data and authorization.
                div(class="text-3xl font-bold m-5 text-medium-gradient") Development Process
                div(class="m-5 text-xl") I knew I wanted to push myself in terms of site functionality and I wanted Fumblr to feel as close to a fully developed social media app as possible. Along with having users create and like posts, I added a messenger, real-time notifications, profile customization, and a light/dark theme. I really enjoyed learning how to implement new features that I hadn't developed before, and designing the front end for this app.
                div(class="text-3xl font-bold m-5 text-medium-gradient") Lessons Learned      
                div(class="m-5 text-xl") I learned how to employ real-time notifications (by using React's effect hooks as well as Firebase's database listeners), which helped develop the chatting feature as well. Fumblr is also my first project that can upload and store user images. Developing Fumblr gave me a better understanding of React, its benefits, and how it functions overall. This project was great practice in developing a more complicated app that had multiple features.