extends detail-layout

block content
    div(class="p-20")
        div(class="flex flex-col items-center")
            div(class="font-bold text-4xl text-dark-lavender") Garden of Pages
            div(class="text-xl m-4") My blog for anything bookish related: mostly posts about the books I've read each month as well as book reviews.
            div(class="flex justify-center")
                a#demo(href="https://gardenofpages.mariasilvia.me" target="_blank" rel="noopener noreferrer" class="font-bold text-xl m-12") LIVE DEMO
                a#code(href="https://github.com/mlorraine4/TOP-blog-api" target="_blank" rel="noopener noreferrer" class="font-bold text-xl m-12") CODE
        div#bg(class="w-3/4 m-auto max-w-[1860px] pt-10 pb-10")
            div(class="w-2/3 flex flex-col items-center m-auto")
                div(class="text-medium-gradient font-bold text-3xl p-2 m-5 w-min") Stack
                div(class="flex justify-end m-auto mb-12")
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/node.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") Node.js
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/mongodb.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") MongoDB
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/pug.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") Pug
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/passport.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") Passport
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/express.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") Express
                    div(class="flex flex-col items-end")
                        img(src="../images/icons/tailwindcss.png" class="m-auto h-auto w-12")
                        div(class="font-semibold bg-violet-950 text-white p-1 text-center m-2") TailwindCSS
                img(src="../images/gg_1.bmp" class="w-full shadow-lg shadow-indigo-500/40 ml-auto mr-auto mt-5 mb-5")
                div(class="text-3xl font-bold m-5 text-medium-gradient") Project Goals
                div(class="m-5 text-xl") I wanted to make my own blog website where I could add books I've read, view them by which month I read them in, and add reviews. I wanted users to be able to see all my posts, and one admin to perform CRUD operations on posts.
                div(class="text-3xl font-bold m-5 text-medium-gradient") Development Stack
                div(class="m-5 text-xl") I created the webserver using Node.js, along with Express to handle routing. I used two different databases for my website, Firebase for storing photos as well as Mongoose for storing data and user information. User passwords are encrypted with Bcrypt. Passport handles user authentication as well as session persistence. The front end templates were made with Pug. I used tailwindCSS so my project had an organized and uniform format for naming classes.           
                div(class="text-3xl font-bold m-5 text-medium-gradient") Development Process
                div(class="m-5 text-xl") 
                div(class="text-3xl font-bold m-5 text-medium-gradient") Lessons Learned
                div(class="m-5 text-xl")
                img(src="../images/gg_2.bmp" class="w-full shadow-lg shadow-indigo-500/40 ml-auto mr-auto mt-5 mb-5")