extends layout

block content
    div#grad
        div#what(class="w-4/5 m-auto flex")
            div(class="w-1/3")
                div(class="text-5xl") Hi, I'm Maria
                div(class="flex mt-4")
                    div(class="w-8 h-8 m-2 bg-github bg-cover hover:bg-github-purple")
                    div(class="w-8 h-8 m-2 bg-email bg-cover hover:bg-email-purple")
                    button fake
                div(class="text-2xl mt-4") I enjoy creating art, reading fantastical stories, and watching my fish tanks.
            div(class="w-1/3 text-center") cute pixel art here
    div
        div Skills
        div(class="w-2/3 m-auto flex justify-evenly")
            div#skill(class="font-semibold bg-black") React
            div Node.js
            div MongoDB 
            div JS 
            div HTML 
            div CSS 
            div Firebase
        div pixel art of a computer
        div maybe a short bio?
    div(class="m-20") 
        div My Projects
        div(class="flex justify-around flex-wrap")
            div(class="flex flex-col rounded-xl w-5/12 h-min overflow-hidden items-center")
                div(class="bg-dark-purple w-full")
                    div(class="text-white underline text-center") Personal Project
                    div(class="text-white text-4xl text-center p-5") Fumblr
                div(class="flex justify-evenly w-full m-5")
                    div(class="font-semibold bg-black text-white p-1.5") Node.js
                    div(class="font-semibold bg-black text-white p-1.5") MongoDB 
                    div(class="font-semibold bg-black text-white p-1.5") JS 
                    div(class="font-semibold bg-black text-white p-1.5") HTML 
                    div(class="font-semibold bg-black text-white p-1.5") CSS 
                    div(class="font-semibold bg-black text-white p-1.5") Firebase
                div(class="p-4 text-2xl") A social media app to share and explore your interests. Follow your favorite blogs to see what they're up to!
                img(src="/images/fumblr_preview.png")
                a(class="bg-warm-lavender rounded w-28 p-2 text-center m-5") Learn more
            div(class="flex flex-col rounded-xl w-5/12 h-min overflow-hidden items-center")
                div(class="bg-dark-purple w-full")
                    div(class="text-white underline text-center") Personal Project
                    div(class="text-white text-4xl text-center p-5") Fumblr
                div(class="p-4") A social media app to share and explore your interests. Follow your favorite blogs to see what they're up to!
                img(src="/images/fumblr_preview.png")
                a(class="bg-warm-lavender rounded w-28 p-2 text-center m-5") Learn more
            div(class="flex flex-col rounded-xl w-5/12 h-min overflow-hidden items-center")
                div(class="bg-dark-purple w-full")
                    div(class="text-white underline text-center") Personal Project
                    div(class="text-white text-4xl text-center p-5") Fumblr
                div(class="p-4") A social media app to share and explore your interests. Follow your favorite blogs to see what they're up to!
                img(src="/images/fumblr_preview.png")
                a(class="bg-warm-lavender rounded w-28 p-2 text-center m-5") Learn more
