doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/output.css')
  body(class="font-Montserrat")
    #navbar
      a(href="/" class="p-5 text-xl font-semibold text-dark-purple hover:text-white hover:bg-dark-purple rounded-lg transition") home
      a(href="#projects" class="p-5 text-xl font-semibold text-dark-purple hover:text-white hover:bg-dark-purple rounded-lg transition") projects
      a(href="#about" class="p-5 text-xl font-semibold text-dark-purple hover:text-white hover:bg-dark-purple rounded-lg transition") about
      a(href="https://www.dropbox.com/scl/fi/tr33jt15ctkashbppz12b/resume.pdf?rlkey=dzgccba4gp8jv145spkpoxmpb&st=1fb9n74i&dl=0" target="_blank" rel="noopener noreferrer" class="p-5 text-xl font-semibold text-dark-purple hover:text-white hover:bg-dark-purple rounded-lg transition") resume
    block content
    block footer
      div(class="bg-violet-950 w-full text-white flex h-[200px] items-center flex-col justify-center")
        div(class="text-3xl p-4") Maria Silvia
        div(class="flex")
          div(class="w-7 h-7 m-2 bg-github-pink bg-cover hover:bg-github-light")
            a(href="https://github.com/mlorraine4" target="_blank" rel="noopener noreferrer" class="w-full h-full block")
          div(class="w-7 h-7 m-2 bg-email-pink bg-cover hover:bg-email-light")
            a(href="mailto:marialorrainesilvia4@gmail.com" class="w-full h-full block")
          div(class="w-7 h-7 m-2 bg-li-pink bg-cover hover:bg-li-light")
            a(href="https://www.linkedin.com/in/maria-l-silvia/" target="_blank" rel="noopener noreferrer" class="w-full h-full block")
