extends layout

block content
    script(type="text/javascript" src="https://www.dropbox.com/scl/fi/tr33jt15ctkashbppz12b/resume.pdf?rlkey=dzgccba4gp8jv145spkpoxmpb&st=1fb9n74i&dl=0" id="dropboxjs" data-app-key="99nn655zwke7tcg")
