@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

button {
  background-color: #f5c19e;
}

#back {
  background-image: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#navbar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

#grad {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #9ef5e4, #e49ef5);
  display: flex;
  align-items: center;
}

#demo {
  background-image: linear-gradient(#ee9559, #ee9559);
  background-size: 110% 6px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
  padding: 0 5px 0 5px;
  width: 150px;
  text-align: center;
}
#demo:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out,
    color 0.5s ease-in-out;
  color: white;
}

#code {
  background-image: linear-gradient(#59b2ee, #59b2ee);
  background-size: 110% 6px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
  padding: 0 5px 0 5px;
  width: 150px;
  text-align: center;
}

#code:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out,
    color 0.5s ease-in-out;
  color: white;
}

#bg {
  background-color: rgb(134, 151, 220, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fae0cf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5c19e;
  border-radius: 10px;
}

#top-link a {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);

  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ee9559;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:hover {
    color: white;

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
